name: Publish the package to GitHub Package Registry (GPR)

on:
  push:
    branches: [ release/* ]
  pull_request:
    branches: [ release/* ]

jobs:
  publish:
    name: build, pack & publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # Authenticates packages to push to GPR
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x' # SDK Version to use.
        source-url: https://nuget.pkg.github.com/alexeyvyduykin/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GPR_PAT}}
    - name: Build
      run: dotnet build
    - name: Create the package
      run: dotnet pack --no-build --configuration Release
    - name: Publish the package to GPR
      run: dotnet nuget push TestLibrary/bin/Release/*.nupkg
